Имеются две базы данных (два листа Excel-файла): база с ценами конкурентов (Data_Parsing) и внутренняя база компании (Data_Company).

В базе парсинга есть два id, однозначно определяющие товар: producer_id и producer_color.

В базе компании есть два аналогичных поля: item_id и color_id.

Нам известно, что коды в двух базах отличаются наличием набора служебных символов. В базе парсинга встречаются следующие символы: 
_, -, ~, \\, /.

1. Считать данные из Excel в DataFrame (Data_Parsing) и (Data_Company).

In [31]:
import pandas as pd
Data_Parsing = pd.read_excel(io='data/Data_TSUM.xlsx', engine='openpyxl', sheet_name = 0)
Data_Parsing.head(20)

        brand Category   producer_id producer_color  price
0   Valentino    Shoes  aaaaa1111_11          black    167
1   Valentino    Shoes  aaaaa1111_12          black    188
2   Valentino    Shoes  aaaaa1111_13          black    184
3   Valentino    Shoes  aaaaa1111_14        bla//ck    196
4   Valentino    Shoes  aaaaa1111_15        bla\\ck    250
5   Valentino    Shoes  aaaaa1111_16        bla__ck    191
6   Valentino    Shoes  aaaaa1111_17       bla\\c~k    218
7   Valentino    Shoes  aaaaa1111_18        white_~    162
8   Valentino    Shoes  aaaaa1111_19        white_~    236
9   Valentino    Shoes  aaaaa1111_20        white_~    178
10  Valentino    Shoes  aaaaa1111_21        white_~    171
11  Valentino    Shoes  aaaaa1111_22        white_~    237
12  Valentino    Shoes  aaaaa1111_23        white_~    288
13  Valentino    Shoes  aaaaa1111_24        white_~    259
14  Valentino     Bags  aaaaa1111_25         ~~~red    245
15  Valentino     Bags  aaaaa1111_26         ~~~red    235
16  Valentino     Bags  aaaaa1111_27         ~~~red    293
17  Valentino     Bags  aaaaa1111_28         ~~~red    284
18  Valentino     Bags  aaaaa1111_29         ~~~red    192
19  Valentino     Bags  aaaaa1111_30         ~~~red    173

In [32]:
Data_Company = pd.read_excel(io='data/Data_TSUM.xlsx', engine='openpyxl', sheet_name = 1)
Data_Company.head(20)

        brand Category      item_id color_id  current price
0   Valentino    Shoes  aaaaa111111    black            247
1   Valentino    Shoes  aaaaa111112    black            161
2   Valentino    Shoes  aaaaa111113    black            234
3   Valentino    Shoes  aaaaa111114    black            167
4   Valentino    Shoes  aaaaa111115    black            153
5   Valentino    Shoes  aaaaa111116    black            265
6   Valentino    Shoes  aaaaa111117    black            169
7   Valentino    Shoes  aaaaa111118    white            265
8   Valentino    Shoes  aaaaa111119    white            250
9   Valentino    Shoes  aaaaa111120    white            255
10  Valentino    Shoes  aaaaa111121    white            292
11  Valentino    Shoes  aaaaa111122    white            250
12  Valentino    Shoes  aaaaa111123    white            171
13  Valentino    Shoes  aaaaa111124    white            237
14  Valentino     Bags  aaaaa111125      red            266
15  Valentino     Bags  aaaaa111126      red            242
16  Valentino     Bags  aaaaa111127      red            203
17  Valentino     Bags  aaaaa111128      red            252
18  Valentino     Bags  aaaaa111129      red            206
19  Valentino     Bags  aaaaa111130      red            287

In [33]:
del_str = ['_', '-', '~', '/', '\\']
Data_Parsing['producer_id'] = Data_Parsing['producer_id'].apply(lambda x: x.replace('_', ''))
Data_Parsing['producer_color'] = Data_Parsing['producer_color'].apply(lambda x: x.replace('_', '').replace('-', '').replace('~', '').replace('/', '').replace('\\', ''))
Data_Parsing.head(20)

        brand Category  producer_id producer_color  price
0   Valentino    Shoes  aaaaa111111          black    167
1   Valentino    Shoes  aaaaa111112          black    188
2   Valentino    Shoes  aaaaa111113          black    184
3   Valentino    Shoes  aaaaa111114          black    196
4   Valentino    Shoes  aaaaa111115          black    250
5   Valentino    Shoes  aaaaa111116          black    191
6   Valentino    Shoes  aaaaa111117          black    218
7   Valentino    Shoes  aaaaa111118          white    162
8   Valentino    Shoes  aaaaa111119          white    236
9   Valentino    Shoes  aaaaa111120          white    178
10  Valentino    Shoes  aaaaa111121          white    171
11  Valentino    Shoes  aaaaa111122          white    237
12  Valentino    Shoes  aaaaa111123          white    288
13  Valentino    Shoes  aaaaa111124          white    259
14  Valentino     Bags  aaaaa111125            red    245
15  Valentino     Bags  aaaaa111126            red    235
16  Valentino     Bags  aaaaa111127            red    293
17  Valentino     Bags  aaaaa111128            red    284
18  Valentino     Bags  aaaaa111129            red    192
19  Valentino     Bags  aaaaa111130            red    173

2. Подтянуть к базе парсинга данные из базы компании (item_id, color_id, current_price) и сформировать столбец разницы цен в % (цена конкурента к нашей цене).

In [34]:
base = Data_Parsing.merge(
    Data_Company,
    how = 'left',
    
)